img{
    height: 100px;
    vertical-align: middle;
}
.scritta{
    display: inline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    vertical-align: middle;
}
main {
    background-color: lightgray;
    margin-top: -10px;

}
.spazio {
    height: 30px;
}
.riquadro_centrale {
    background-color: white;
    width: 900px;
    margin: auto;
    border: 1px solid rgba(22, 1, 1, 0.226);
    padding-top: 20px;
}
.bottone {
    margin-left: 40px;
    padding: 20 px 0 20px 0;
    border-radius: 5px;
}
ul {
    list-style: none;
}
.grassetto {
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.check_falso {
    color: #F00;
    border: 1px solid red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
.check_vero {
    color: green;
    border: 1px solid green;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    display: inline-block;
}
.testo {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.cerchio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 10px;
    vertical-align: middle;
    line-height: 50px;
}
.blu{    
    background-color: blue;
    color: white;
}
.viola {
    background-color: blueviolet;
}
.verde{
    background-color: rgb(31, 92, 31);
}
.arancione {
    background-color: orange;
}
.rosso {
    background-color: rgb(129, 3, 72);
}
.verde_chiaro {
    background-color: rgb(68, 216, 68);
}