img{
    height: 100px;
    vertical-align: middle;
}
.Scritta{
    display: inline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    vertical-align: middle;
}
main {
    background-color: lightgray;
    margin-top: -10px;

}
.Spazio {
    height: 30px;
}
.RiquadroCentrale {
    background-color: white;
    width: 900px;
    margin: auto;
    border: 1px solid rgba(22, 1, 1, 0.226);
    padding-top: 20px;
}
.Bottone {
    margin-left: 40px;
    padding: 20 px 0 20px 0;
    border-radius: 5px;
}
ul {
    list-style: none;
}
.Grassetto {
    font-size: larger;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.CheckFalso {
    color: #F00;
}
.CheckVero {
    color: green;
}
.Testo {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.Cerchio {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;
    padding-left:10px;
    padding-right:10px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 10px;
    vertical-align: middle;
    line-height: 50px;
}
.Blu{    
    background-color: blue;
    color: white;
}
.Viola {
    background-color: blueviolet;
}
.Verde{
    background-color: rgb(31, 92, 31);
}
.Arancione {
    background-color: orange;
}
.Rosso {
    background-color: rgb(129, 3, 72);
}
.VerdeChiaro {
    background-color: rgb(68, 216, 68);
}